.price-style{
    font-weight: bold;
}
.super-title{
    font-size: 10px;
}
.labels{
    font-size: 12px;
    font-weight: bold;
}
.btn-height{
    height: 70px !important;
    float: right;
}
.label-names{
    color: black;
}
ion-card{
    --background: #fff;
}
.error-message
{
  color: red;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}

.submit-btn {
  margin-top: 40px;
}