<ion-header>
    <ion-toolbar mode="ios">
      <ion-title class="price-style">Bills Payment</ion-title>
      <ion-buttons slot="start">
        <ion-back-button 
        text="back"
        icon="arrow-dropleft">
      </ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="content-height">
    <ion-card class="ion-text-center ion-no-padding card-customized">
        <ion-card-header>
          <ion-card-subtitle class="universal-font-color">Available Wallet Balance</ion-card-subtitle>
            <ion-card-subtitle class="universal-font-color">
                {{walletBal  | currency:"PHP":"symbol"}}
            </ion-card-subtitle>
        </ion-card-header>
    </ion-card>

    <ion-card class="ion-text-center ion-no-padding card-customized">
        <ion-card-header>
            <ion-card-title ion-card-title class="universal-font-color">Biller Categories</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <ion-grid class="ion-no-padding">
                <ion-row>
                    <ion-col size="4" *ngFor="let c of categories; let i=index" (click)="gotoList(c.url, i)">
                        <ion-img src={{c.icon}} class="image-icon"></ion-img>
                        <ion-label class="universal-font-color">{{c.title}}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>
