.content-height{
    --background: #e1f7e1;
}
ion-toolbar{
    --background: #e1f7e1;
}
ion-card{
    --background: #fff;
}
.item-divider{
    border: 6px solid #a7dba7;
    padding-left: 10px;
}
.header-padding{
    padding-bottom: 20px;
}
.item-padding{
    padding: 0px 25px 0px 25px;
}
.label-color{
    color: #5cb85c;
    font-size: 16px;
}
.list-border{
    border-bottom: 1px solid #808080;
    padding: 10px;
}
.list-border2{
    padding: 10px;
}
.grid-divider{
    border-bottom: 1px solid #c0c0c0;
    padding: 0px 16px 0px 16px !important;
}
.terms{
    font-size: 12px;
}
.btn-padding{
    padding: 0px 7px 0px 7px;
}
.subtitle-color{
    color: #808080;
    padding: 0px 20px 0px 20px;
}
.cost{
    font-size: 20px;
    color: #000000;
}
.font-col{
    font-size: 20px;
    color: #5cb85c;
}
.ion-rotate-90{
    transform: rotate(90deg);
}
.ion-rotate-270{
    transform: rotate(270deg);
}
.content-card{
    background-color: #f2f4f7;
}
.cabin-color{
    color: #5cb85c;
}