.card-content-md {
    height: 160px;
}
.title-label{
    color: #808080;
}
.card-title{
    position:relative;top:40%; 
    transform: translateY(-50%);
    padding: 0px 15px 0px 15px;
}
.abb-label{
    font-weight: bold;
    text-overflow: ellipsis;
    text-align: center;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}
.city-label{
    font-weight: bold;
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
    padding: 20px;
}
.fab-margin{
    margin-top: -350px;
}
.hide-date{
    display: none;
}
.btn-padding{
    height: 50px !important;
}
.b-margin{
    margin-top:5px;
    font-weight: bold;
    font-size: 16px;
}
.active-tabs{
    color: #63B76C;
}
.full-width{
    width: 100%
}
ion-card{
    --background: #fff;
}
.back-style {
    font-size: 24px;
}

.back-style2 {
    font-size: 14px;
    margin-left: 5px;
}

.back-margin {
    margin-left: 13px;
}