<ion-header>
    <ion-toolbar color="custom" mode="ios">
      <ion-title class="price-style">Gaming Pins</ion-title>
      <ion-buttons slot="start">
        <ion-back-button 
        text="back"
        icon="arrow-dropleft">
      </ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="content-height">
    <ion-card class="ion-text-center ion-no-padding">
        <ion-card-header>
          <ion-card-subtitle>Available Wallet Balance</ion-card-subtitle>
            <ion-card-title class="price-style">
                <b>{{5000  | currency:"PHP":"symbol"}}</b>
            </ion-card-title>
        </ion-card-header>
    </ion-card>
    <form [formGroup]="validationsForm" id="gameForm">
        <ion-card class="ion-text-center ion-no-padding">
            <ion-card-content>
                <ion-item>
                  <ion-label position="floating" color="custom">Product</ion-label>
                  <ionic-selectable
                    [items]="productList"
                    itemValueField="name"
                    itemTextField="name"
                    [canSearch]="true"
                    formControlName="product">
                  </ionic-selectable>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validationMessages.product">
                        <div class="error-message" *ngIf="validationsForm.get('product').hasError(validation.type) && (validationsForm.get('product').dirty || validationsForm.get('product').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
              </ion-card-content>

            <ion-card-content>
              <ion-item>
                <ion-label position="floating" color="custom">Load</ion-label>
                <ionic-selectable
                    [items]="pinList"
                    itemValueField="name"
                    itemTextField="name"
                    [canSearch]="true"
                    formControlName="pins">
                </ionic-selectable>
              </ion-item>
              <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessages.pins">
                      <div class="error-message" *ngIf="validationsForm.get('pins').hasError(validation.type) && (validationsForm.get('pins').dirty || validationsForm.get('pins').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                      </div>
                  </ng-container>
              </div>
            </ion-card-content>

            <ion-card-content>
                <ion-item>
                  <ion-label position="floating" color="custom">Amount</ion-label>
                  <ion-input type="text" name="amount" formControlName="amount" #amount></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validationMessages.amount">
                        <div class="error-message" *ngIf="validationsForm.get('amount').hasError(validation.type) && (validationsForm.get('amount').dirty || validationsForm.get('amount').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
            </ion-card-content>
        </ion-card>
    </form>

    <ion-button 
      class="ion-padding btn-height" 
      form="gameForm" color="custom" 
      [disabled]="!validationsForm.valid" 
      type="submit" 
      (click)='onSubmit(validationsForm.value)'>
      Submit
    </ion-button>

</ion-content>
