ion-card{
    --background: #fff;
}
.btn-height{
    height: 70px !important;
    float: right;
}
.error-message
{
  color: red;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}
.mobile-input {
  margin-top: 22px !important;
}

.submit-btn {
  margin-top: 40px;
}