<ion-header>
  <ion-toolbar color="custom" mode="ios">
    <ion-title>Email</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-height">
  <form [formGroup]="validationsForm"  (ngSubmit)="onSubmit(validationsForm.value)">
      <ion-card class="ion-text-center">
          <ion-card-header class="divider">
            <ion-icon name="mail" class="icon-font"></ion-icon>
          </ion-card-header>
          <ion-card-content>
              <ion-list>
                <ion-item>
                  <ion-icon name="mail" color="custom" slot="start"></ion-icon>
                  <ion-label color="custom">
                    <h2>Email: </h2>
                  </ion-label>
                  <ion-input type="email" formControlName="email" name="email"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validationMessages.email">
                        <div class="error-message" *ngIf="validationsForm.get('email').hasError(validation.type) && (validationsForm.get('email').dirty || validationsForm.get('email').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }} 
                        </div>
                    </ng-container>
                </div>

                <ion-item>
                  <ion-icon name="bookmarks" color="custom" slot="start"></ion-icon>
                  <ion-label color="custom">
                    <h2>Report Type: </h2>
                  </ion-label>
                  <ion-select placeholder="choose one" (ionChange)="getType(type.value)" formControlName="type" #type>
                    <ion-select-option value="sales">Sales History</ion-select-option>
                    <ion-select-option value="wallet">Wallet History</ion-select-option>
                  </ion-select>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validationMessages.days">
                        <div class="error-message" *ngIf="validationsForm.get('days').hasError(validation.type) && (validationsForm.get('days').dirty || validationsForm.get('days').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </div>
                    </ng-container>
                </div>

                <ion-item>
                  <ion-icon name="calendar" color="custom" slot="start"></ion-icon>
                  <ion-label color="custom">
                    <h2>Days: </h2>
                  </ion-label>
                  <ion-select placeholder="choose one" (ionChange)="isCustom($event)" formControlName="days">
                    <ion-select-option *ngFor="let d of daysList" value="{{d.value}}">{{d.name}}</ion-select-option>
                  </ion-select>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validationMessages.days">
                        <div class="error-message" *ngIf="validationsForm.get('days').hasError(validation.type) && (validationsForm.get('days').dirty || validationsForm.get('days').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </div>
                    </ng-container>
                </div>

                <ion-item *ngIf="isCustomData">
                  <ion-icon name="arrow-dropright-circle" color="custom" slot="start"></ion-icon>
                  <ion-label color="custom">
                    <h2>From: </h2>
                  </ion-label>
                  <ion-datetime mode="ios" displayFormat="MMM DD YYYY" pickerFormat="MMM DD YYYY" formControlName="from" placeholder="MMM DD YYYY"></ion-datetime>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validationMessages.from">
                        <div class="error-message" *ngIf="validationsForm.get('from').hasError(validation.type) && (validationsForm.get('from').dirty || validationsForm.get('from').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </div>
                    </ng-container>
                </div>

                <ion-item *ngIf="isCustomData">
                  <ion-icon name="arrow-dropleft-circle" color="custom" slot="start"></ion-icon>
                  <ion-label color="custom">
                    <h2>To: </h2>
                  </ion-label>
                  <ion-datetime mode="ios" displayFormat="MMM DD YYYY" pickerFormat="MMM DD YYYY" formControlName="to" placeholder="MMM DD YYYY"></ion-datetime>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validationMessages.to">
                        <div class="error-message" *ngIf="validationsForm.get('to').hasError(validation.type) && (validationsForm.get('to').dirty || validationsForm.get('to').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
              </ion-list>
          </ion-card-content>
        </ion-card>
      
        <ion-button type="submit" class="btn-height ion-padding" [disabled]="!validationsForm.valid" color="custom">Submit</ion-button>
  </form>
   <!-- <pre>{{validationsForm.value | json}}</pre> -->
</ion-content>