<ion-header>
  <ion-toolbar color="custom" mode="ios">
    <ion-title>Voucher</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-card class="ion-text-center custom-card">
        <ion-grid style="padding: 0;">
          <ion-row style="padding: 0;">
            <ion-col size="2" style="background-color: #5cb85c; height: 150px;"> </ion-col>
            <ion-col size="10">
              <ion-card-header>
                <ion-card-title>
                  VOUCHER CODE
                </ion-card-title>
                <ion-card-title style="border-bottom: 3px solid #000;"></ion-card-title>
                <ion-card-title style="margin-top: 15%;">
                  SASQWE13241SA
                </ion-card-title>
              </ion-card-header>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
</ion-content>
