<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>ePins</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="textbox">
      <ion-label class="universal-font-color">Code</ion-label>
      <ion-note slot="end" class="universal-font-color">{{code}}</ion-note>
    </ion-item>
    <ion-item class="textbox">
      <ion-label class="universal-font-color">Refrence No.</ion-label>
      <ion-note slot="end" class="universal-font-color">{{ref}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
