<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" class="back-margin" (click)="backMenu()">
      <ion-icon name="arrow-dropleft" class="back-style"></ion-icon>
      <label class="back-style2">BACK</label>
    </ion-buttons>
    <ion-title class="price-style">Book a Flight</ion-title>
  </ion-toolbar>

  <ion-tab-bar slot="top">
      <ion-tab-button tab="one-way" class="active-tabs">
        <ion-icon name="calendar"></ion-icon>
        <ion-label class="">One Way</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="round-trip">
        <ion-icon name="repeat"></ion-icon>
        <ion-label>Round Trip</ion-label>
      </ion-tab-button>
  </ion-tab-bar>
</ion-header>

<ion-content class="content-height">
    <ion-card class="ion-text-center ion-no-padding card-customized">
        <ion-card-header>
          <ion-card-subtitle class="universal-font-color">Available Wallet Balance</ion-card-subtitle>
            <ion-card-title class="universal-font-color">
                <b>{{walletBal  | currency:"PHP":"symbol"}}</b>
            </ion-card-title>
          </ion-card-header>
      </ion-card>

    <ion-grid>
        <ion-row>
          <ion-col size="6" class="ion-text-center">
            <ion-card class="ion-no-padding ion-no-margin" (click)="openAirList()">
              <ion-card-content>
                <ion-card-title class="card-title">
                  <div class="abb-label" *ngIf='isFlyingFromEmpty == false'>{{iata}}</div>
                  <div *ngIf='isFlyingFromEmpty == true' class="b-margin">Origin</div>
                </ion-card-title>
                <p class="card-title city-label" *ngIf='isFlyingFromEmpty == false'>
                  {{fromResult}}
                </p>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6" class="ion-text-center">
            <ion-card class="ion-no-padding ion-no-margin" (click)="openAirList2()">
              <ion-card-content>
                <ion-card-title class="card-title">
                    <div class="abb-label" *ngIf='isFlyingToEmpty == false'>{{iata2}}</div>
                    <div *ngIf='isFlyingToEmpty == true' class="b-margin">Destination</div>
                </ion-card-title>
                <p class="card-title city-label" *ngIf='isFlyingToEmpty == false'>
                    {{toResult}}
                </p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row> 
    
        <ion-row>
          <ion-col size="6" class="ion-text-center" (click)="range()">
            <ion-card class="ion-no-padding ion-no-margin">
              <ion-card-content>
                <ion-card-title class="card-title">
                  <div class="b-margin" *ngIf="isMonthEmpty == false">{{labelMonth}}</div>
                  <div *ngIf="isMonthEmpty == true" class="b-margin">{{today | date:'d MMM'}}</div>
                </ion-card-title>
                <div class="card-title city-label">
                    <p *ngIf="isMonthEmpty == true">{{today | date:'EEEE'}}</p>
                    <p *ngIf="isMonthEmpty == false">{{labelDay}}</p>
                </div>
              </ion-card-content>
            </ion-card>  
          </ion-col>
          <ion-col size="6" class="ion-text-center" (click)="travelTypes(passDetail)">
            <ion-card class="ion-no-padding ion-no-margin">
              <ion-card-content>
                <ion-card-title class="card-title">
                  <div class="abb-label" *ngIf="isTravelerEmpty == false">{{countData}} Traveler</div>
                  <div *ngIf="isTravelerEmpty == true" class="b-margin">{{countData}} Traveler</div>
                </ion-card-title>
                <div class="card-title city-label">
                  <p *ngIf="isTravelerEmpty == false">{{cabinData}}</p>
                  <p *ngIf="isTravelerEmpty == true">{{cabinData}}</p>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12">
              <ion-button expand="full" (click)="gotoFlightSearch()">Search</ion-button>
          </ion-col>
        </ion-row> 
    </ion-grid>

    <ion-fab horizontal="center" class="fab-margin" (click)="swapVal(fromResult,toResult,iata,iata2)">
        <ion-fab-button>
          <ion-icon name="repeat"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
