.labels{
    font-size: 16px;
    font-weight: bold;
    color: #000;
}
.title-color{
    color: #5cb85c;
}
.upper{
    text-transform: uppercase;
}
.bot{
    border-bottom: 1px solid #C0C0C0;
}
.small-text{
    color: #ff0000;
    font-size: 12px;
}
ion-select.myCustomSelect{
    width: 100%;
    max-width: 100%;
}