<ion-header>
  <ion-toolbar color="custom" mode="ios">
    <ion-title class="price-style">Change Password</ion-title>
    <ion-buttons slot="start" class="back-margin" (click)="backMenu()">
        <ion-icon name="arrow-dropleft" class="back-style"></ion-icon>
        <label class="back-style2">BACK</label>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-height">
  
  <ion-card class="ion-text-center ion-no-padding">
      <ion-card-header>
        <ion-card-subtitle>You can change your password here. {{x}}</ion-card-subtitle>
      </ion-card-header>
  </ion-card>

  <form [formGroup]="validationsForm"  (ngSubmit)="onSubmit(validationsForm.value)">
      <ion-card class="ion-no-padding">
          <ion-card-header>
            <ion-card-content>
                <ion-item>
                    <ion-label position="floating" color="custom">New Password</ion-label>
                    <ion-input type="password" formControlName="newPassword" (ionChange)="newPW($event)"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validationMessages.newPassword">
                        <div class="error-message" *ngIf="validationsForm.get('newPassword').hasError(validation.type) && (validationsForm.get('newPassword').dirty || validationsForm.get('newPassword').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </div>
                    </ng-container>
                </div>

                <ion-item>
                  <ion-label position="floating" color="custom">Confirm Password</ion-label>
                  <ion-input type="password" formControlName="confirmPassword" (ionChange)="changePW()"></ion-input>
                </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessages.confirmPassword">
                    <div class="error-message" *ngIf="validationsForm.get('confirmPassword').hasError(validation.type) && (validationsForm.get('confirmPassword').dirty || validationsForm.get('confirmPassword').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                </ng-container>
                </div>
            </ion-card-content>

          </ion-card-header>
      </ion-card>
      <ion-button class="ion-padding btn-height" color="custom" type="submit" [disabled]="!validationsForm.valid">Submit</ion-button>
  </form>
  
</ion-content>
