.price-style{
    font-weight: bold;
}
.super-title{
    font-size: 10px;
}
.labels{
    font-size: 12px;
    font-weight: bold;
}
.btn-height{
    height: 70px !important;
    float: right;
}
ion-card{
    --background: #fff;
}
.submit-btn {
  margin-top: 40px;
}

.mobile-input {
    margin-top: 22px !important;
}
.back-style {
    font-size: 24px;
    color: #fff !important;
}

.back-style2 {
    font-size: 14px;
    margin-left: 5px;
    color: #fff !important;
}

.back-margin {
    margin-left: 13px;
}