<ion-header>
  <ion-toolbar mode="ios">
    <ion-title class="price-style">Payment</ion-title>
    <ion-buttons slot="start">
      <ion-back-button 
      text="back"
      icon="arrow-dropleft">
    </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="toolbar-background divBanner ion-text-center">
  <ion-title>{{code}}</ion-title>
</div>

<ion-content class="bg-color">
  <form [formGroup]="paymentForm"  (ngSubmit)="onSubmit(paymentForm.value)">
    <ion-list class="ion-no-padding" >
      <ion-item-divider class="divider-bg">
        <ion-label>
          <p>YOU ARE ABOUT TO PAY</p>
        </ion-label>
      </ion-item-divider>
    
      <ion-item lines="none">
        <ion-label class="title-color">Amount Due</ion-label>
        <ion-label slot="end" class="ion-text-right">
          {{denom | currency:"PHP":"symbol"}}
        </ion-label>
      </ion-item>
        <ion-item lines="none">
          <ion-label class="title-color">Enter Mobile No.</ion-label>
          <ion-input slot="end" formControlName="targetSubsAccount" placeholder="mobile no." class="ion-no-margin ion-text-right"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validationMessages.targetSubsAccount">
              <div class="error-message ion-text-center" *ngIf="paymentForm.get('targetSubsAccount').hasError(validation.type) && (paymentForm.get('targetSubsAccount').dirty || paymentForm.get('targetSubsAccount').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
          </ng-container>
        </div>
      <ion-item>
        <ion-label class="title-color">Discount</ion-label>
        <ion-label slot="end" class="ion-text-right">
          {{discount | currency:"PHP":"symbol"}}
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="title-color">Total Amount</ion-label>
        <ion-label slot="end" class="ion-text-right">
          {{total | currency:"PHP":"symbol"}}
        </ion-label>
      </ion-item>
    </ion-list>

    <div class="divBanner ion-text-center">
      <ion-item lines="none">
        <ion-label class="ion-text-wrap ion-text-center">
          <p>
            please review to ensure that the details are correct before you proceed
          </p>
        </ion-label>
      </ion-item>
    </div>

    <ion-button class="button-margin" expand="block" type="submit" [disabled]="!paymentForm.valid">Pay {{total | currency:"PHP":"symbol"}}</ion-button>
  </form>
</ion-content>
