
<ion-content class="login-bg">
    <form [formGroup]="validationsForm" (ngSubmit)="onLogin(validationsForm.value)">
        <ion-item lines="none"> 
            <ion-button (click)="showDeviceID()" slot="end" style="--background: Transparent; --box-shadow: none;">
                <ion-icon slot="icon-only" class="icon-color-bg" name="alert"></ion-icon>
            </ion-button>
        </ion-item>
        <ion-item class="increase-padding" lines="none">
            <span class="login-title p-b-48">
                <img src={{banner}}/>
            </span>
        </ion-item>
        <div class="padding-all">
            <div class="validation-errors" *ngIf="errFLG">
                <div class="error-message ion-text-center">
                    <ion-icon name="information-circle-outline"></ion-icon> {{errorMessage}}
                </div> 
            </div>
            <ion-list>
                <ion-item class="textbox login-item-border">
                    <ion-label class="placeholder-color" position="floating">Username</ion-label>
                    <ion-input class="login-font-color" type="text" formControlName="username"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validationMessages.username">
                        <div class="error-message" *ngIf="validationsForm.get('username').hasError(validation.type) && (validationsForm.get('username').dirty || validationsForm.get('username').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </div> 
                    </ng-container>
                </div>

                <ion-item class="textbox login-item-border">
                    <ion-label class="placeholder-color" position="floating">Password</ion-label>
                    <ion-input class="login-font-color" type="password" formControlName="password"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validationMessages.password">
                        <div class="error-message" *ngIf="validationsForm.get('password').hasError(validation.type) && (validationsForm.get('password').dirty || validationsForm.get('password').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
            </ion-list>
            <ion-button class="submit-btn login100-form-btn login-button" expand="block" type="submit" [disabled]="!validationsForm.valid">Sign in</ion-button>
        </div>
     </form>
</ion-content>

<div class="icon-color-bg login-div">
    version {{versionCode}}
</div>
