<ion-header>
    <ion-toolbar color="custom" mode="ios">
      <ion-title class="price-style">Loans</ion-title>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="content-height">
    <ion-card class="ion-text-center ion-no-padding">
        <ion-card-header>
          <ion-card-subtitle>Available Wallet Balance</ion-card-subtitle>
            <ion-card-title class="price-style">
                <b>{{5000  | currency:"PHP":"symbol"}}</b>
            </ion-card-title>
        </ion-card-header>
    </ion-card>

    <ion-card class="ion-text-center ion-no-padding">
        <ion-card-content>
          <ion-item>
            <ion-label position="floating" color="custom">Type of Credit</ion-label>
            <ion-select placeholder="choose one" #credit>
              <ion-select-option value="Home Credit">Home Credit</ion-select-option>
              <ion-select-option value="Cashalo">Cashalo</ion-select-option>
              <ion-select-option value="Loan Ranger">Loan Ranger</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card-content>
        <ion-card-content>
            <ion-item>
              <ion-label position="floating" color="custom">Payment Range</ion-label>
              <ion-select placeholder="choose one" #credit>
                <ion-select-option value="1">1 Month</ion-select-option>
                <ion-select-option value="2">2 Months</ion-select-option>
                <ion-select-option value="3">3 Months</ion-select-option>
                <ion-select-option value="6">6 Months</ion-select-option>
                <ion-select-option value="12">12 Months</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-card-content>
        <ion-card-content>
            <ion-item>
              <ion-label position="floating" color="custom">Amount</ion-label>
              <ion-input type="number" placeholder="enter amount"></ion-input>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <ion-card class="ion-text-center ion-no-padding">
      <ion-card-header>
        <ion-card-title>
          Installment per month
        </ion-card-title>
        <ion-card-title>
            {{5000  | currency:"PHP":"symbol-narrow"}}
        </ion-card-title>
        <ion-card-subtitle>
            x 3 installments
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-button class="ion-padding btn-height" color="custom" type="submit">Submit</ion-button>

</ion-content>
