<ion-header>
    <ion-toolbar color="custom" mode="ios">
      <ion-title class="price-style">Loans</ion-title>
      <ion-buttons slot="start">
        <ion-back-button 
        text="back"
        icon="arrow-dropleft">
      </ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="content-height">
    <ion-card class="ion-text-center ion-no-padding">
        <ion-card-header>
          <ion-card-subtitle>Available Wallet Balance</ion-card-subtitle>
            <ion-card-title class="price-style">
                <b>{{walletBal  | currency:"PHP":"symbol"}}</b>
            </ion-card-title>
        </ion-card-header>
    </ion-card>

    <ion-card class="ion-text-center ion-no-padding">
      <form [formGroup]="validationsForm" id="loanForm">
          <ion-card-content>
              <ion-item>
                <ion-label position="floating" color="custom">Type of Credit</ion-label>
                <ionic-selectable
                    [items]="creditList"
                    itemValueField="value"
                    itemTextField="name"
                    [canSearch]="true"
                    formControlName="credit">
                </ionic-selectable>
              </ion-item>
              <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessages.credit">
                      <div class="error-message" *ngIf="validationsForm.get('credit').hasError(validation.type) && (validationsForm.get('credit').dirty || validationsForm.get('credit').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                      </div>
                  </ng-container>
              </div>
            </ion-card-content>

            <ion-card-content>
                <ion-item>
                  <ion-label position="floating" color="custom">Payment Range</ion-label>
                  <ionic-selectable
                    [items]="rangeList"
                    itemValueField="value"
                    itemTextField="name"
                    [canSearch]="true"
                    formControlName="range"
                    (onChange)="getMonthly($event)">
                  </ionic-selectable>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validationMessages.range">
                        <div class="error-message" *ngIf="validationsForm.get('range').hasError(validation.type) && (validationsForm.get('range').dirty || validationsForm.get('range').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
              </ion-card-content>

            <ion-card-content>
                <ion-item>
                  <ion-label position="floating" color="custom">Amount</ion-label>
                  <ion-input type="text" formControlName="amount" (ionChange)="computeInstallment(amount.value)" #amount></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validationMessages.amount">
                        <div class="error-message" *ngIf="validationsForm.get('amount').hasError(validation.type) && (validationsForm.get('amount').dirty || validationsForm.get('amount').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
            </ion-card-content>
      </form>
    </ion-card>

    <ion-card class="ion-text-center ion-no-padding">
      <ion-card-header>
        <ion-card-title>
          Installment per month
        </ion-card-title>
        <ion-card-title>
            {{this.installmentFee  | currency:"PHP":"symbol-narrow": '1.2-2'}}
        </ion-card-title>
        <ion-card-subtitle>
            x {{range}} installment(s)
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-button 
        class="ion-padding btn-height" 
        color="custom" type="submit"
        form="loanForm" [disabled]="!validationsForm.valid"
        (click)="onSubmit(validationsForm.value)">Submit
    </ion-button>

</ion-content>
