<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>   

<ion-content>
    <ion-grid class="ion-text-center universal-font-color grid-padding wallet-grid-bg">
        <ion-row>
            <ion-col>
                <ion-label>Available Wallet Balance</ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label>{{walletBal  | currency:"PHP":"symbol"}}</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="ion-text-center grid-menu">
        <ion-row class="ion-no-padding ion-padding-top">
            <ion-col *ngFor="let p of appList" size="4" [ngClass]="!p.grey ? '' : 'disabled'" class="ion-padding" [routerLink]="!p.grey ? [p.url] : ['/home']">
                <button *ngIf="p.title != 'ePins'">
                    <div class="custom-button-content">
                        <ion-icon src={{p.icon}} size="large" class="home-icon-color menu-size"></ion-icon>
                        <label class="labels contrast-font-color">{{p.title}}</label>
                    </div>
                </button>
                <button *ngIf="p.title == 'ePins'">
                    <img src={{p.icon}} width="40" height="40"> <br><br> 
                    <label class="labels contrast-font-color">{{p.title}}</label>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

