<ion-header>
  <ion-toolbar color="custom" mode="ios">
    <ion-title class="price-style">Remittance</ion-title>
    <ion-buttons slot="start">
        <ion-back-button 
        text="back"
        icon="arrow-dropleft">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-card class="ion-text-center ion-no-padding">
  <ion-card-header>
    <ion-card-subtitle>Available Wallet Balance</ion-card-subtitle>
      <ion-card-title class="price-style">
          {{5000  | currency:"PHP":"symbol"}}
      </ion-card-title>
    </ion-card-header>
</ion-card>

<ion-content #pageTop>
    <ion-slides #slides>
        <ion-slide class="">
            <label class="ion-text-center labels">Choose Payment Method</label>
            <ion-radio-group>
                <ion-item class="ion-padding-left ion-padding-right" *ngFor="let p of methodList" (click)="selectMethod(p.val,p.title)">
                    <ion-thumbnail slot="start"> 
                      <img src={{p.icon}}>
                    </ion-thumbnail>
                    <ion-label class=".labels">{{p.title}}</ion-label>
                    <ion-radio class="radio-size" slot="end" color="custom" mode="ios"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-slide>
    </ion-slides>
</ion-content>
