

ion-avatar,
ion-avatar > img{
    background-color: #ffffff;
}
.user-label{
    font-weight:bold;
}

.user-date{
    color: #808080;
    font-size: 11px;
    font-weight:bold;
}
.image-icon{
    height:30px;
    width: 30px;
}
// .data-list{
//         font-size: 12px; 
//         --min-height: 30px;
//     }
