ion-card{
    background: #fff;
}
.header-divider{
    border-bottom: 2px solid #808080;
    padding: 5px;
}
.header-padding{
    padding-bottom: 20px;
}
.item-padding{
    padding: 0px 25px 0px 25px;
}
.label-color{
    color: #5cb85c;
    font-size: 16px;
}
.list-border{
    border-bottom: 3px solid #808080;
}
.grid-divider{
    border-bottom: 1px solid #c0c0c0;
    padding: 0px 16px 0px 16px !important;
}
.terms{
    font-size: 12px;
}
.btn-padding{
    padding: 10px 16px 16px 16px;
}
.error-message
{
  color: red;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}

.submit-btn {
  margin-top: 40px;
}