<ion-header>
  <ion-toolbar mode="ios">
    <ion-title class="price-style">Passenger Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button 
      text="back"
      icon="arrow-dropleft">
    </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-height">
  <ion-card class="card-customized">
    <ion-item lines="none">
      <ion-title class="universal-font-color">Guest Information</ion-title>
    </ion-item>
  </ion-card>

  <ion-card class="card-customized">
    <ion-card-header>
        <ion-card-subtitle class="universal-font-color">
          Please make sure you enter your details as show in your passport.
        </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  
  <form [formGroup]="validationsForm" id="passengerForm">
    <ion-card class="card-customized">
          <ion-list class="ion-padding" formArrayName="properties">
            <ng-container *ngFor="let a of getProperties(); let i=index" [formGroupName]="i">
                    <ion-item class="ion-no-padding ion-text-center textbox">
                      <ion-label class="universal-font-color"><b>{{traveler[i].title}}</b>
                      </ion-label>
                    </ion-item>
                    <ion-item class="ion-no-padding textbox">
                      <ion-label position="stacked" class="universal-font-color"><b>Title*</b></ion-label>
                      <ion-select formControlName="title" class="select-font-color">
                        <ion-select-option value="Mr">Mr</ion-select-option>
                        <ion-select-option value="Ms">Ms</ion-select-option>
                        <ion-select-option value="Mrs">Mrs</ion-select-option>
                      </ion-select> 
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validationMessages.title">
                            <div class="error-message" *ngIf="a.get('title').hasError(validation.type)  && (a.get('title').dirty || a.get('title').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                            </div>
                        </ng-container>
                    </div>

                    <ion-item class="ion-no-padding textbox">
                      <ion-label position="stacked" class="universal-font-color"><b>Firstname*</b></ion-label>
                      <ion-input class="input-font-color" type="text" formControlName="firstname" name="firstname" #firstname></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                      <ng-container *ngFor="let validation of validationMessages.firstname">
                          <div class="error-message" *ngIf="a.get('firstname').hasError(validation.type) && (a.get('firstname').dirty || a.get('firstname').touched)">
                          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                          </div>
                      </ng-container>
                    </div>

                    <ion-item class="ion-no-padding textbox">
                      <ion-label position="stacked" class="universal-font-color"><b>Lastname*</b></ion-label>
                      <ion-input class="input-font-color" type="text" formControlName="lastname" name="lastname" #lastname></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                      <ng-container *ngFor="let validation of validationMessages.lastname">
                          <div class="error-message" *ngIf="a.get('lastname').hasError(validation.type) && (a.get('lastname').dirty || a.get('lastname').touched)">
                          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                          </div>
                      </ng-container>
                    </div>

                    <ion-item class="ion-no-padding textbox">
                      <ion-label position="stacked" class="universal-font-color"><b>Date of Birth*</b></ion-label>
                      <ion-datetime class="datetime-font-color" color="custom" mode="ios" displayFormat="MMM DD YYYY" pickerFormat="MMM DD YYYY" formControlName="dob"></ion-datetime>
                    </ion-item>
                    <div class="validation-errors">
                      <ng-container *ngFor="let validation of validationMessages.dob">
                          <div class="error-message" *ngIf="a.get('dob').hasError(validation.type) && (a.get('dob').dirty || a.get('dob').touched)">
                          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                          </div>
                      </ng-container>
                    </div>

                    <ion-item class="ion-no-padding textbox">
                      <ion-label position="stacked" class="universal-font-color"><b>Nationality*</b></ion-label>
                      <ionic-selectable
                        [items]="nationalityList"
                        itemValueField="name"
                        itemTextField="name"
                        [canSearch]="true"
                        [hasVirtualScroll]="true"
                        formControlName="nationality">
                      </ionic-selectable>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validationMessages.nationality">
                        <div class="error-message" *ngIf="a.get('nationality').hasError(validation.type) && (a.get('nationality').dirty || a.get('nationality').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </div>
                    </ng-container>
                  </div>

                  <ion-item class="ion-no-padding textbox" lines="none">
                    <ion-label class="universal-font-color">I am a Person with disability</ion-label>
                    <ion-checkbox slot="start" formControlName="pwdChecked" (ionChange)="isPerson(i)"></ion-checkbox>
                  </ion-item>
            
                  <ng-container *ngIf="traveler[i].checked">
                    <ion-item class="ion-no-padding textbox">
                      <ion-label position="stacked" class="universal-font-color"><b>PWD ID*</b></ion-label>
                      <ion-input class="input-font-color" type="text" placeholder="" name="pwd" formControlName="pwd" #pwd></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                      <ng-container *ngFor="let validation of validationMessages.pwd">
                          <div class="error-message" *ngIf="a.get('pwd').hasError(validation.type) && (a.get('pwd').dirty || a.get('pwd').touched)">
                          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                          </div>
                      </ng-container>
                    </div>
                  </ng-container>
            </ng-container>
        
          </ion-list>
    </ion-card>

    <ion-card>
      <ion-item class="ion-text-center" lines="none">
        <label class="universal-font-color">Do you need special Assistance?</label>
        <ion-toggle slot="start" formControlName="assistChecked" (ionChange)="isChecked()"></ion-toggle>
        <ion-button slot="end" size="default" fill="clear" (click)="help()">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-grid *ngIf="isAssistance" class="wallet-grid-bg">
        <ion-row>
          <ion-col size="6" class="grid-divider">
            <ionic-selectable
              [items]="assistanceList"
              itemValueField="name"
              itemTextField="name"
              placeholder="Select One"
              [hasVirtualScroll]="true"
              formControlName="assist1">
            </ionic-selectable>
          </ion-col>
          <ion-col size="6" class="grid-divider">
            <ionic-selectable
              [items]="assistanceList"
              itemValueField="name"
              itemTextField="name"
              placeholder="Select One"
              [hasVirtualScroll]="true"
              formControlName="assist2">
            </ionic-selectable>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item lines="none">
        <ion-checkbox slot="start" formControlName="terms"></ion-checkbox>
        <label class="terms universal-font-color">I confirm that I have read, understood and agree to the Policy which provides additional information on how my Personal Information is used.</label>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.terms">
            <div class="error-message" *ngIf="validationsForm.get('terms').hasError(validation.type) && (validationsForm.get('terms').dirty || validationsForm.get('terms').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
        </ng-container>
      </div>
    </ion-card>
  </form>
  <!-- <pre>{{validationsForm.value | json}}</pre> -->
</ion-content>

<ion-footer no-border>
  <ion-button (click)="onSubmit(validationsForm.value)" expand="block" type="submit" form="passengerForm" [disabled]="!validationsForm.valid">Proceed</ion-button>
</ion-footer>
