.separator{
    border-bottom: solid 2px #c0c0c0;
}
.divider{
    padding-top: 30px;
}
.label-airport{
    color: #000;
    font-weight: bold;
    font-size: 16px;
}
ion-icon.air {
    font-size: 40px; //Preferred size here
}

ion-select.myCustomSelect{
    width: 100%;
    max-width: 100%;
}
.ti-tile{
    font-size: 18px;
    color: #000000;
    font-weight: bold;
}
.age{
    font-size: 14px;
    color: #c0c0c0;
    font-weight: lighter;
}
.divider-font{
    font-size: 20px;
}
.active-count{
    color: #63b76c;
}
.number-count{
    font-size: 26px;
    font-weight: lighter;
    padding-left: 17px;
    padding-right: 17px;
}
ion-icon.increment {
    font-size: 30px; //Preferred size here
}
.btn-padding{
    height: 40px;
}
.fontText{
    color: #ff0000;
}