.price-style{
    font-weight: bold;
}
.super-title{
    font-size: 10px;
}
.labels{
    font-size: 12px;
    font-weight: bold;
}
.btn-height{
    height: 70px !important;
    float: right;
}
.content-height{
    --background: #e1f7e1;
}
ion-card{
    --background: #fff;
}