<ion-header class="ion-no-border">
    <ion-toolbar mode="ios">
      <ion-title class="price-style">Telco E-Load</ion-title>
      <ion-buttons slot="start">
        <ion-back-button 
        text="back"
        icon="arrow-dropleft">
      </ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="content-height">
    <ion-card class="ion-text-center ion-no-padding card-customized">
        <ion-card-header>
          <ion-card-subtitle class="universal-font-color">Available Wallet Balance</ion-card-subtitle>
            <ion-card-subtitle class="universal-font-color">
                {{walletBal  | currency:"PHP":"symbol"}}
            </ion-card-subtitle>
        </ion-card-header>
    </ion-card>
    
    <form [formGroup]="validationsForm"  (ngSubmit)="onSubmit(validationsForm.value)">
        <ion-card class="ion-no-padding eload-card-customized">
            <ion-card-header class="ion-no-padding">
                <ion-card-content class="ion-no-padding ion-padding-horizontal">
                    <ion-item class="textbox eload-items-customized">
                        <ion-label position="stacked" class="universal-font-color">Telco</ion-label>
                        <ionic-selectable class="eload-font-color"
                            [items]="uniqueTelco"
                            itemValueField="name"
                            itemTextField="name"
                            [canSearch]="true"
                            (onChange)="checkCategory(tel.value)"
                            formControlName="telco" #tel>
                        </ionic-selectable>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validationMessages.telco">
                            <div class="error-message" *ngIf="validationsForm.get('telco').hasError(validation.type) && (validationsForm.get('telco').dirty || validationsForm.get('telco').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                            </div>
                        </ng-container>
                    </div>
                </ion-card-content>
                <ion-card-content class="ion-no-padding ion-padding-horizontal">
                    <ion-item class="textbox eload-items-customized">
                        <ion-label position="stacked" class="universal-font-color">Type of Load</ion-label>
                        <ionic-selectable class="eload-font-color"
                            [items]="prodType"
                            itemValueField="name"
                            itemTextField="name"
                            [canSearch]="true"
                            (onChange)="getProducts(type.value)"
                            formControlName="type" #type>
                        </ionic-selectable>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validationMessages.type">
                            <div class="error-message" *ngIf="validationsForm.get('type').hasError(validation.type) && (validationsForm.get('type').dirty || validationsForm.get('type').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                            </div>
                        </ng-container>
                    </div>
                </ion-card-content>
                <ion-card-content class="ion-no-padding ion-padding-horizontal">
                    <ion-item class="textbox eload-items-customized">
                        <ion-label position="stacked" class="universal-font-color">Product</ion-label>
                        <ionic-selectable class="eload-font-color"
                            [items]="productCode"
                            itemValueField="value"
                            itemTextField="name"
                            [canSearch]="true"
                            (onChange)="getDescription(prod.value)"
                            formControlName="product" #prod>
                        </ionic-selectable>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validationMessages.product">
                            <div class="error-message" *ngIf="validationsForm.get('product').hasError(validation.type) && (validationsForm.get('product').dirty || validationsForm.get('product').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                            </div>
                        </ng-container>
                    </div>
                </ion-card-content>
                <ion-card-content *ngIf="isTelco" class="ion-no-padding ion-padding-horizontal">
                    <ion-item class="textbox eload-items-customized">
                        <ion-label position="stacked" class="universal-font-color">Mobile</ion-label>
                        <ion-grid item-content>
                            <ion-row>
                                <ion-col size="3" class="code-no">
                                    <ion-text class="universal-font-color ion-text-left code-border">
                                        +63&nbsp;&nbsp;
                                    </ion-text>
                                </ion-col>
                                <ion-col size="4">
                                    <ionic-selectable
                                    [items]="options" class="eload-font-color"
                                    itemValueField="PREFIX"
                                    itemTextField="PREFIX"
                                    [canSearch]="true"
                                    formControlName="prefix" #prefix>
                                    </ionic-selectable>
                                </ion-col>
                                <ion-col size="5">
                                    <ion-input type="text" name="mobile" formControlName="mobile" class="eload-font-color" (input)="mobileLength(mobile.value)" #mobile></ion-input>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>

                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validationMessages.prefix">
                            <div class="error-message" *ngIf="validationsForm.get('prefix').hasError(validation.type) && (validationsForm.get('prefix').dirty || validationsForm.get('prefix').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                            </div>
                        </ng-container>
                    </div>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validationMessages.mobile">
                            <div class="error-message" *ngIf="validationsForm.get('mobile').hasError(validation.type) && (validationsForm.get('mobile').dirty || validationsForm.get('mobile').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                            </div>
                        </ng-container>
                    </div>
                </ion-card-content>

                <ion-card-content *ngIf="!isTelco" class="ion-no-padding ion-padding-horizontal">
                    <ion-item class="auth-time-label">
                    <ion-label position="stacked" class="universal-font-color">Number</ion-label>
                    <ion-input type="text" name="aNumber" class="eload-font-color" formControlName="aNumber" #aNumber></ion-input>
                    </ion-item>
                    
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validationMessages.aNumber">
                            <div class="error-message" *ngIf="validationsForm.get('aNumber').hasError(validation.type) && (validationsForm.get('aNumber').dirty || validationsForm.get('aNumber').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                            </div>
                        </ng-container>
                    </div>
                </ion-card-content>
                <ion-card-content class="ion-no-padding ion-padding-horizontal">
                    <ion-item class="auth-time-label eload-items-customized">
                        <ion-label position="stacked" class="universal-font-color">Description</ion-label>
                        <ion-textarea class="eload-font-color"
                            readonly
                            value='{{prodDesc}}'>
                        </ion-textarea>
                    </ion-item>
                </ion-card-content>
                <ion-card-content class="ion-no-padding ion-padding-horizontal ion-padding-bottom">
                    <ion-item class="auth-time-label eload-items-customized">
                        <ion-label position="stacked" class="universal-font-color">Validity</ion-label>
                        <ion-textarea class="eload-font-color"
                            readonly
                            value='{{prodValidity}}'>
                        </ion-textarea>
                    </ion-item>
                </ion-card-content>
            </ion-card-header>

        </ion-card>
        <ion-button class="ion-padding btn-height universal-button" type="submit" [disabled]="!validationsForm.valid">Submit</ion-button>
    </form>
    
</ion-content>
