<ion-header>
    <ion-toolbar mode="ios">
      <ion-title class="price-style">Government Billers</ion-title>
      <ion-buttons slot="start">
        <ion-back-button 
        text="back"
        icon="arrow-dropleft">
      </ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="content-height">
    <ion-card class="ion-text-center ion-no-padding card-customized">
        <ion-card-header>
          <ion-card-subtitle class="universal-font-color">Available Wallet Balance</ion-card-subtitle>
            <ion-card-title class="universal-font-color">
                <b>{{walletBal  | currency:"PHP":"symbol"}}</b>
            </ion-card-title>
        </ion-card-header>
    </ion-card>

    <ion-card class="ion-text-center ion-no-padding card-customized">
        <form [formGroup]="validationsForm" id="govForm">
            <ion-card-content>
                <ion-item class="textbox">
                    <ion-label position="floating" class="universal-font-color">Government Bill</ion-label>
                    <ionic-selectable
                        [items]="billList"
                        itemValueField="name"
                        itemTextField="name"
                        [canSearch]="true"
                        formControlName="bill">
                    </ionic-selectable>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validationMessages.bill">
                        <div class="error-message" *ngIf="validationsForm.get('bill').hasError(validation.type) && (validationsForm.get('bill').dirty || validationsForm.get('bill').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </div>
                    </ng-container>
                </div>

                <ion-item class="textbox">
                    <ion-label position="floating" class="universal-font-color">Contact Number (mobile)</ion-label>
                    <ion-input type="text" class="input-font-color" formControlName="contact"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validationMessages.contact">
                        <div class="error-message" *ngIf="validationsForm.get('contact').hasError(validation.type) && (validationsForm.get('contact').dirty || validationsForm.get('contact').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
                
                <ion-item class="textbox">
                    <ion-label position="floating" class="universal-font-color">Payment Reference Number</ion-label>
                    <ion-input type="text" class="input-font-color" formControlName="ref"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validationMessages.ref">
                        <div class="error-message" *ngIf="validationsForm.get('ref').hasError(validation.type) && (validationsForm.get('ref').dirty || validationsForm.get('ref').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
                    
                <ion-item class="textbox">
                    <ion-label position="floating" class="universal-font-color">Amount</ion-label>
                    <ion-input type="text" class="input-font-color" formControlName="amount"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validationMessages.amount">
                        <div class="error-message" *ngIf="validationsForm.get('amount').hasError(validation.type) && (validationsForm.get('amount').dirty || validationsForm.get('amount').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </div>
                    </ng-container>
                </div>

                <ion-item class="textbox">
                    <ion-label position="floating" class="universal-font-color">Email</ion-label>
                    <ion-input type="email" class="input-font-color" formControlName="email"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validationMessages.email">
                        <div class="error-message" *ngIf="validationsForm.get('email').hasError(validation.type) && (validationsForm.get('email').dirty || validationsForm.get('email').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
            </ion-card-content>
        </form>
    </ion-card>

    <ion-button 
      class="ion-padding btn-height" 
      type="submit" 
      (click)="nextModal(validationsForm.value)" form="govForm"
      [disabled]="!validationsForm.valid">Next
    </ion-button>

</ion-content>
