<ion-header>
    <ion-toolbar color="custom" mode="ios">
      <ion-title class="price-style">Government Billers</ion-title>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="content-height">
    <ion-card class="ion-text-center ion-no-padding">
        <ion-card-header>
          <ion-card-subtitle>Available Wallet Balance</ion-card-subtitle>
            <ion-card-title class="price-style">
                <b>{{5000  | currency:"PHP":"symbol"}}</b>
            </ion-card-title>
        </ion-card-header>
    </ion-card>

    <ion-card class="ion-text-center ion-no-padding">
        <ion-card-content>
          <ion-item>
            <ion-label position="floating" color="custom">Government Bill</ion-label>
            <ion-select placeholder="choose one" #bill>
              <ion-select-option >BIR</ion-select-option>
              <ion-select-option >DFA</ion-select-option>
              <ion-select-option >Maritime Industry Authority</ion-select-option>
              <ion-select-option >NBI</ion-select-option>
              <ion-select-option >NHMFC</ion-select-option>
              <ion-select-option >NSO</ion-select-option>
              <ion-select-option >PAG-IBIG</ion-select-option>
              <ion-select-option >POEA</ion-select-option>
              <ion-select-option >SSS - PRN</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card-content>
        <ion-card-content>
            <ion-item>
                <ion-label position="floating" color="custom">Payment Reference Number</ion-label>
                <ion-input type="number" placeholder="reference number"></ion-input>
              </ion-item>
          </ion-card-content>
        <ion-card-content>
            <ion-item>
              <ion-label position="floating" color="custom">Amount</ion-label>
              <ion-input type="number" placeholder="enter amount"></ion-input>
            </ion-item>
        </ion-card-content>
        <ion-card-content>
            <ion-item>
              <ion-label position="floating" color="custom">Email</ion-label>
              <ion-input type="email" placeholder="email"></ion-input>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <ion-button class="ion-padding btn-height" color="custom" type="submit" (click)="nextModal()">Next</ion-button>

</ion-content>
