<ion-header>
  <ion-toolbar mode="ios">
    <ion-title class="price-style">Radius ISP</ion-title>
    <ion-buttons slot="start">
      <ion-back-button 
      text="back"
      icon="arrow-dropleft">
    </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-card class="ion-text-center ion-no-padding card-customized">
  <ion-card-header>
    <ion-card-subtitle  class="universal-font-color">Available Wallet Balance</ion-card-subtitle>
      <ion-card-subtitle class="universal-font-color">
          {{walletBal  | currency:"PHP":"symbol"}}
      </ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-content style="--ion-background-color:#fff;">
  <form [formGroup]="RadiusForm" (ngSubmit)="onSubmit(RadiusForm.value)">
    <ion-card class="radius-card-customized">
      <ion-card-content>
        <ion-item class="radius-items-customized">
          <ion-label position="stacked" class="universal-font-color">SKU :</ion-label>
          <ionic-selectable class="radius-font-color"
              [items]="productList"
              itemValueField="planCode"
              itemTextField="planCode"
              [canSearch]="true"
              (onChange)="toggleMobile($event)"
              formControlName="sku">
          </ionic-selectable>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validationMessages.sku">
            <div class="error-message" *ngIf="RadiusForm.get('sku').hasError(validation.type) && (RadiusForm.get('sku').dirty || RadiusForm.get('sku').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item class="textbox radius-items-customized">
          <ion-label position="stacked" class="universal-font-color">Mobile :</ion-label>
          <ion-input type="text" formControlName="mobile" name="mobile" placeholder="Enter contact no (09xxxxxxxxx)" class="radius-font-color" (keypress)="mobileLength(mobile.value)"  #mobile></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validationMessages.mobile">
              <div class="error-message" *ngIf="RadiusForm.get('mobile').hasError(validation.type) && (RadiusForm.get('mobile').dirty || RadiusForm.get('mobile').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
          </ng-container>
        </div>

        <ion-item class="textbox radius-items-customized">
          <ion-label position="stacked" class="universal-font-color">Email :</ion-label>
          <ion-input type="email" formControlName="email" name="email" class="radius-font-color"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validationMessages.email">
              <div class="error-message" *ngIf="RadiusForm.get('email').hasError(validation.type) && (RadiusForm.get('email').dirty || RadiusForm.get('email').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
          </ng-container>
        </div>

        <ion-item class="auth-time-label radius-items-customized">
          <ion-label position="stacked" class="universal-font-color">Description</ion-label>
          <ion-textarea class="eload-font-color"
              readonly rows='5'
              value='{{description}}'>
          </ion-textarea>
      </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-button class="ion-padding btn-height universal-button" type="submit" [disabled]="!RadiusForm.valid">Submit</ion-button>
  </form>
</ion-content>
