.scroll-content {
    padding-top: 0px !important;
}
.list-bottom-border{
    border-bottom: 3px solid #c0c0c0;
}
.destination-from{
    text-align: right !important;
    padding-right: 20px;
}
.destination-to{
    padding-left: 20px;
}
.ion-rotate-180{
    transform: rotate(180deg);
}
.text-margin{
    margin-top: 10px;
}
.text-alignment{
    text-align: right;
}
.text-alignment-color{
    text-align: right;
    font-size: 20px;
    color:#5cb85c;
}
.text-size{
    color: #808080;
    font-size: 14px;
}
.col-margin{
    margin-top: 5px;
}
.super-title{
    font-size: 10px;
}
.row-border-bottom{
    border-bottom: 2px solid #c0c0c0;
}
.row-padding-bottom{
    padding-bottom: 10px;
}
.row-padding-top{
    padding-top: 10px;
}
.content-height{
    --background: #e1f7e1;
}
ion-card{
    --background: #fff;
}