<ion-header>
    <ion-toolbar color="custom" mode="ios">
      <ion-buttons slot="start">
        <ion-button (click)="closeModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="content-height">
    <div *ngIf="Type === 'bag'">
      <ion-card>
        <ion-card-content>
          <ion-item lines="none">
              <ion-icon slot="start" size="large" name="briefcase"></ion-icon>
              <ion-card-header>
                <ion-card-title>Add Baggage</ion-card-title>
              </ion-card-header>
          </ion-item>
        </ion-card-content>
      </ion-card>
      
      <ion-card class="weight-card" *ngFor="let p of passList; index as i" lines="none">
          <ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col size="6">
                    <ion-card-title>
                      {{p.name}}
                    </ion-card-title>
                  </ion-col>
                  <ion-col size="6" class="ion-text-right">
                    <ion-card-title>
                      <b class="font-col">PHP {{price[i]}}</b>
                    </ion-card-title>
                  </ion-col>
                </ion-row>
              </ion-grid>
          </ion-item>
      
        <ion-card-content class="ion-text-center" *ngFor="let f of flightList; index as j">
            <ion-item> 
                <ion-label position="floating">Weight</ion-label>
                <ion-select  (ionChange)="getWeight(i,j)" [(ngModel)]="weight[i][j]">
                    <ion-select-option *ngFor="let item of weightList" value="{{item.value}} {{item.name}} - {{item.price}}">
                      {{item.value}} {{item.name}} - PHP {{item.price}}
                    </ion-select-option>
                </ion-select>
            </ion-item>
        </ion-card-content>
      </ion-card>
      
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>The items below are not allowed for hand carry and should be part of your check-in baggage.</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <ion-list lines="">
              <ion-item >
                  <ion-img slot="start" src='../assets/img/addons/bottle.png' class="image-icon"></ion-img>
                  <p>Liquids > 100ml</p>
              </ion-item>
              <ion-item >
                  <ion-img slot="start" src='../assets/img/addons/pizza.png' class="image-icon"></ion-img>
                  <p>Food Items</p>
              </ion-item>
              <ion-item >
                  <ion-img slot="start" src='../assets/img/addons/wire.png' class="image-icon"></ion-img>
                  <p>Wires and Cables</p>
              </ion-item>
              <ion-item >
                  <ion-img slot="start" src='../assets/img/addons/knife.png' class="image-icon"></ion-img>
                  <p>Bladed Items</p>
              </ion-item>
              <ion-item >
                  <ion-img slot="start" src='../assets/img/addons/baseball.png' class="image-icon"></ion-img>
                  <p>Sports Equipment</p>
              </ion-item>
              <ion-item >
                  <ion-img slot="start" src='../assets/img/addons/umbrella.png' class="image-icon"></ion-img>
                  <p>Canes and Umbrellas</p>
              </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

    </div>

    <div *ngIf="Type === 'meal'">
      <ion-card>
        <ion-card-content>
          <ion-item lines="none">
              <ion-icon slot="start" size="large" name="restaurant"></ion-icon>
              <ion-card-header>
                <ion-card-title>Add Meal</ion-card-title>
              </ion-card-header>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card class="weight-card">
        <ion-card-content>
          <ion-label>
              Get served first and ensure availability of your meals! You may choose up to two meals per service. Exclusive only for pre-order.
          </ion-label>
        </ion-card-content>
      </ion-card>

      <ion-card class="weight-card" *ngFor="let p of passList; index as i">
          <ion-item>
              <label>{{p.name}}</label>
          </ion-item>

          <ion-card-content>
              <ion-item>
                <ion-label position="floating">Food A</ion-label>
                <ion-select  (ionChange)="getFoodA(i)" [(ngModel)]="FoodA[i]" >
                    <ion-select-option *ngFor="let item of foodList" value="{{item.meal}} - {{item.price}}">
                        {{item.meal}} - PHP {{item.price}}
                    </ion-select-option>
                  </ion-select>
              </ion-item>
          </ion-card-content>

          <ion-card-content>
              <ion-item>
                <ion-label position="floating">Food B</ion-label>
                <ion-select  (ionChange)="getFoodB(i)" [(ngModel)]="FoodB[i]" >
                    <ion-select-option *ngFor="let item of foodList" value="{{item.meal}} - {{item.price}}">
                        {{item.meal}} - PHP {{item.price}}
                    </ion-select-option>
                  </ion-select>
              </ion-item>
          </ion-card-content>
        
          <ion-card-content>
              <ion-card-title class="price-position ion-padding">
                Price: <b class="font-col">PHP {{totalFoodPrice[i]}}</b>
              </ion-card-title>
          </ion-card-content>

      </ion-card>

    </div>

          <!-- <ion-grid >
              <ion-row nowrap class="forecast_container">
                <ion-col size="3" class="forecast_div" *ngFor="let item of SlideLength">{{item}}</ion-col>
              </ion-row>
            </ion-grid> -->


</ion-content>

<ion-footer no-border>
  <ion-toolbar>
      <ion-button color="custom" expand="block" class="btn-padding" (click)='proceed(Type)'>Proceed</ion-button>
  </ion-toolbar>
</ion-footer>
